/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
.primary-menu-custom{
	width: 100%;
	background-color: #004370;
	    height: 38px;
    line-height: 38px;
    margin-top: 9px;
    z-index: 999999;
}
.span-upper{
	font-family: "Roboto", Roboto, sans-serif;
}
.line-dashed-bottom {
	padding-bottom: 10px;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.125);
}
.r-space {
	padding-left: 3px;
	margin-right: 5px;
}

ul.list-job li {
	margin-top: 10px;
}
ul.boot-tabs li.nav-item a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
a.bottom-border{
	margin-top: 10px;
	border-top: none;
	border-right:none;
	border-left: none;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.125)
}
a.a-title {
	font-size: 17.5px; color:#444;
	font-weight: 650;
	padding-top: 10px;
	font-family: "Roboto", Arial, sans-serif;
}
a.no-color{color: #6c757d;}
a:hover {
    color: #20c997;
}

h3.title-news {
	margin: 0 0 10px 0;
}
h3.title-news a {
	color: #171717;
    font-size: 23px;
    font-family: Roboto-Bold;
    font-weight: normal;
    line-height: 28px;
}
h4.title-news a {
	color: #171717;
    font-size: 20px;
    font-family: Roboto-Bold;
    font-weight: normal;
    line-height: 20px;
}
